[submodule "btstack"]
	path = btstack
	url = https://github.com/krissma/btstack.git
	branch = btclassic_new
[submodule "btlejack"]
	path = btlejack
	url = https://github.com/krissma/btlejack.git
	branch = btclassic_new
